body {
    background-color: #FEF9FF;;
}

.jumbotron{
    background-color:transparent;
    border-bottom: 2px solid black;
    border-radius: 0%;
}


.employee-card{
    background-color:#A480CF ;
    border: 2px solid black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.8);
    color:white;
    margin: 10px;
}
.card-header{
    background-color:#A480CF ;
    border-color: black;
    color: black;
}
.list-group-item{
    background-color: #A480CF;
    border: 2px solid black;
}
a{
    text-decoration: none;
    color: white
}